
  
  .example-full-width {
    width: 30%;
    border-radius: 10%;
  }

  body{
    text-align: center;
    
    background-position: right;
}


h1{
  color:rgb(43, 43, 43);
}

table {
  width: 100%;
  color:rgb(43, 43, 43);
}


.alerta{
  color: red;
  text-decoration-color: red;
}
