
  
  .example-full-width {
    width: 30%;
    border-radius: 10%;
  }

  body{
    text-align: center;
    background: url(../../images/4907157.jpg);
    background-position: center;
    background-size: 100%;
}


h1{
  font-weight: bold;
  color: #252525;
  text-transform: uppercase;
  text-shadow: #272727;
  -moz-text-size-adjust: auto;
  text-align: center;
}

table {
  width: 100%;
  color:rgb(43, 43, 43);
}

.alerta{
  color: red;
  text-decoration-color: red;
}