<!-- João adicionei aqui uma HTML basica de login com a confirmação do login -->

<h1>Cadastrar</h1>
<form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
<label>email:</label>
<input type="text" formControlName="email"> <br>
<div *ngIf="formCadastrar.controls['email'].touched">   <!-- se email foi tocado -->

    <small *ngIf="formCadastrar.controls['email'].hasError('required')" style="color: red;">O email é Obrigatório</small>
    <small *ngIf="formCadastrar.controls['email'].hasError('email')" style="color: red;">Formato de email inválido</small>
</div>
<label>Password:</label>
<input type="password" formControlName="password"> <br>
<div *ngIf="formCadastrar.controls['password'].touched">   <!-- se password foi tocado -->
    <small *ngIf="formCadastrar.controls['password'].hasError('required')" style="color: red;">A Senha é Obrigatória</small>
    <small *ngIf="formCadastrar.controls['password'].hasError('minlength')" style="color: red;">A senha precisa ter no mínimo 6 caractéres</small>
</div>
<label>Confirme a Password:</label>
<input type="password" formControlName="confirmPassword"> <br>
<div *ngIf="formCadastrar.controls['confirmPassword'].touched">   <!-- se password foi tocado -->
    <small *ngIf="formCadastrar.controls['confirmPassword'].hasError('required')" style="color: red;">A Senha é Obrigatória</small>
    <small *ngIf="formCadastrar.controls['confirmPassword'].hasError('minlength')" style="color: red;">A senha precisa ter no mínimo 6 caractéres</small>
</div>
<button type="submit">Criar</button>
</form>   <!-- formulario agora reativo -->

<a routerLink="/login"><button>Voltar</button></a>